html, body{
	margin: 0;
	padding: 0;
	background: #000;
}

h2{
	font-family: Ariel, sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #fff;
	margin: 3px auto;
	
}

p{
	font: bold 1.1em Ariel;
	color: #ff0000;
	text-align: center;
	position: relative;
	top: 150px;
	left: -100px;
	text-transform: uppercase;
	letter-spacing: 2px;
	background-color: #ffff00;
}

.canvas{
		position: relative;
		width: 700px;
		margin: auto;
		clear:both;
	}

#cameraHolder{
	display: none;
	visibility: hidden;
	position: absolute;
	top: 150px;
	left: 200px;
}

#takePhoto{
	position: absolute;
	bottom: 20px;
    left: 100px;
}



#startButtons{
	width: 500px;
	position: absolute;
	bottom: 30px;
	left: 100px;
}

#startButtons button, #startButtons a{
	float: left;
    margin-left: 35px;
}

a.menuButton{
	height: 20px;
	padding-bottom: 5px;
	padding-top: 5px;
	text-align: center;
}



#initForm{
	position: absolute;
	left:  300px;
	top: 150px;
}

.optionMenu{
	width: 150px;
	height: 20px;
	background-color: rgba(51, 77, 182, 0.5);
	font-family:arial, helvetica, sans-serif;
	font-size: 1em;
	color: #fff;
	clear: both;
	margin-bottom: 20px;
}


.menuButton{
width: 120px;
height: 30px;
margin: 10px 10px;
border: 1px solid #fff;
border-radius: 3px;
background-color: rgba(51, 77, 182, 0.5);
font-family:arial, helvetica, sans-serif;
font-size: 15px;
font-weight: bold;
text-decoration: none;
color: #fff;

}
.menuButton:hover{
	background-color: rgba(0, 150, 0, 0.5);
}
.menuButton:disabled{
	background-color: rgba(150,0,0, 0.5);
}
#puzzleMenu{
	width: 700px;
	margin: auto;
	position: relative;
	bottom: 56px;
	left: 70px;
	visibility: hidden;
	display: none;
}
	